body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather' sans-serif;
}
h1 {
  color: #66BFBF;
  margin-top: 0;
  font-family: 'Sacrasmento',cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: normal;
}

h3 {
  color: #66BFBF;
  font-family: 'Montserrat',sans-serif;
}
p {
  line-height: 2;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
  margin: 100px auto;
}
a {
  color: #11999E;
  font-family: 'Montserrat',sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #EAf6F6;
}
.top-container {
  background-color: #EAf6F6;
  position: relative;
  padding-top: 100px;
}
.middle-container {
  margin: 100px 0;
}
.bottom-container {
  background-color: skyblue;
  padding: 50px 0 20px;
}


.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.pro {
  text-decoration: underline;
}
 .intro {
   width: 30%;
   margin: auto;
 }
 .contact-message {
   width: 40%;
   margin: 40px auto 60px;
 }
 .copyright{
   color: #EAf6F6;
   font-size: 0.75rem;
   padding: 20px 0;
 }
.top-cloud {
  position: absolute;
  right:300px;
  top:40px;
}

.bottom-cloud {
  position: absolute;
  top: 200px;
  left: 350px;
  bottom: 300px;
}

 .web_development-img {
   width: 20%;
   float: left;
   margin-right: 30px;

 }

 .web_coder-img{
   width: 25%;
   float: right;
 }

 .btn {
   background: #30e3cb;
   background-image: -webkit-linear-gradient(top, #30e3cb, #2bca4ad);
   background-image: -moz-linear-gradient(top, #30e3cb, #2bca4ad);
   background-image: -ms-linear-gradient(top, #30e3cb, #2bca4ad);
   background-image: -o-linear-gradient(top, #30e3cb, #2bca4ad);
   background-image: linear-gradient(to bottom, #30e3cb, #2bca4ad);
   -webkit-border-radius: 8;
   -moz-border-radius: 8;
   border-radius: 8px;
   font-family: Arial;
   color: #ffffff;
   font-size: 20px;
   padding: 10px 20px 10px 20px;
   text-decoration: none;
 }

 .btn:hover {
   background: #3cb0fd;
   background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
   background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
   background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
   background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
   background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
   text-decoration: none;
 }
